@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-3;
}
.bg-primary{
    background-color: #8a2be2;
}

.bg-secondary {
     background: #120436;

}
.mobile-nav{
    @apply fixed top-10 bg-[#120436] w-full h-1/4 left-0
}
.mobile-nav  li {
    @apply w-full text-center border-b-2 h-full;
}
.button {
    @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded;
}
html {
    scroll-behavior: smooth;
}
/* Unique font style */
.text-shadow {
    font-family: 'Your Unique Font', sans-serif;
    position: relative;
    z-index: 1;
  }
  
  /* Gradient background with a skew effect */
  .bg-gradient-to-r {
    background: linear-gradient(135deg, #6ee7b7, #a6c0fe);
  }
  
  /* Adding text shadow for better visibility */
  .text-shadow::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
  }
  